<!--service css start-->
<section class="saas2 services">
  <div class="container saas2-services">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="title">
                  <div class="main-title">
                    <img src="assets/images/logo/LOGO_GROWK.png" width="30%" height="30%" alt="" class="img-fluid">
                    <!--<h2>GROWK SERVICES</h2>-->
                    <h4>we are here to help our clients grow</h4>
                  </div>
                  <div class="sub-title">
                      <p class="sub-title-para">Located in the vibrant city of Guadalajara, our NearShore company is a leading innovator in the tech industry, with a talented team of experts that brings a fresh perspective to every project. We specialize in cutting-edge technologies, and are dedicated to delivering exceptional results for our clients. Our team is made up of top-tier professionals with years of experience in their respective fields, who are passionate about staying on the cutting edge of technological advancements. With a commitment to excellence and a focus on customer satisfaction, we are proud to be a trusted partner for businesses seeking innovative solutions to their most pressing challenges.

                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 service-container" *ngFor="let data of services">
              <div class="service text-center">
                  <div class="img-block">
                      <img [src]="data.img" alt="" class="service-img img-fluid">
                  </div>
                  <div class="service-feature">
                    <h4 class="feature-text text-center">{{data.title}}</h4>
                    <p>{{data.description}}</p>
                    <h4 class="feature-text text-center">Tech Stack</h4>
                    <p>{{data.stack}}</p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--service css end-->
