<!--service css start
<section class="saas2 services">
  <div class="container saas2-services">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="title">
                  <div class="main-title">
                    <img src="assets/images/logo/LOGO_GROWK.png" width="30%" height="30%" alt="" class="img-fluid">
                    <h2>GROWK SERVICES</h2>
                    <h4>we are here to help our clients grow</h4>
                  </div>
                  <div class="sub-title">
                      <p class="sub-title-para">Located in the vibrant city of Guadalajara, our NearShore company is a leading innovator in the tech industry, with a talented team of experts that brings a fresh perspective to every project. We specialize in cutting-edge technologies, and are dedicated to delivering exceptional results for our clients. Our team is made up of top-tier professionals with years of experience in their respective fields, who are passionate about staying on the cutting edge of technological advancements. With a commitment to excellence and a focus on customer satisfaction, we are proud to be a trusted partner for businesses seeking innovative solutions to their most pressing challenges.

                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 service-container" *ngFor="let data of services">
              <div class="service text-center">
                  <div class="img-block">
                      <img [src]="data.img" alt="" class="service-img img-fluid">
                  </div>
                  <div class="service-feature">
                    <h4 class="feature-text text-center">{{data.title}}</h4>
                    <p>{{data.description}}</p>
                    <h4 class="feature-text text-center">Tech Stack</h4>
                    <p>{{data.stack}}</p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
-->

<section class="agency format service-bg" id="features" [ngStyle]="{'background-image': 'url(assets/images/agency/service/services-backgrondpng.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-lg-1">
                <div class="center-text">
                    <div class="format-container">
                        <h6 class="borders-before text-uppercase">
                            <span>This is what we do ...</span>
                        </h6>
                        <div class="format-head-text">
                            <h2 class="about-font-header">Services that will close the gap <span class="block-span">
                                            will build success</span></h2>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">we generate value by getting the best talent working directly with you and your team, we'll get your team to reach your objectives while reducing the risks</p>
                        </div>
                        <a href="page/about-us" class=" btn btn-default btn-gradient text-white">view more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection aos-init aos-animate" data-aos="fade-left" data-aos-duration="500">
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/7" class="center-content"><img src="assets/images/agency/service/1.png"
                                                                        alt="">
                                    <h5>Web Development</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection aos-init aos-animate" data-aos="fade-left" data-aos-duration="2000">
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/8" class="center-content"><img src="assets/images/agency/service/2.png"
                                                                        alt="">
                                    <h5>Mobile development</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/9" class="center-content"><img src="assets/images/agency/service/3.png"
                                                                        alt="">
                                    <h5>Quality Assurance</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection aos-init aos-animate" data-aos="fade-left" data-aos-duration="3000">
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/10" class="center-content"><img src="assets/images/agency/service/4.png"
                                                                        alt="">
                                    <h5>DevOps</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/11" class="center-content"><img src="assets/images/agency/service/5.png"
                                                                        alt="">
                                    <h5>Ui/Ux Design</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="blog/blog-detail/detail-no-sidebar/12" class="center-content"><img src="assets/images/agency/service/6.png"
                                                                        alt="">
                                    <h5>Data Science</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--service app2 start-->
<section class="app2 services">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0"><span>This is how we do it...</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-1.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">ANALYSIS</h4>
                        <p>We Analyze, Examine, and Discover the details of the composition of the project</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-2.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">PLANNING</h4>
                        <p>We understand that GOOD planning precedes GREAT execution</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-3.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">MAGIC AND EXECUTION</h4>
                        <p>Here is where the magic happens. We design and develop the software you dream of.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-1.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">QUALITY ASSURANCE</h4>
                        <p>And guarantee it is the software you dream of.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-2.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">PROJECT MANAGEMENT</h4>
                        <p>And provide you with the data you need to confirm it is true.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img src="assets/images/app_landing2/service/2-3.png" alt=""
                             class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Implementation</h4>
                        <p>Take yous proyect to reality.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--service app2 end-->