<!-- about section Start-->
<section class="gym format">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center">
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para">
                                Growk Services is a Software Development company located in the so-called "Mexican Silicon Valley", Guadalajara city. We focus our efforts on our talented people with the knowledge and expertise to deliver Mobile, Web, and Cloud solutions to meet our customers' needs. Growk Services is a brand-new company formed by talented people with more than 13 years of experience in the IT industry. The combination of location, knowledge, and experience make Growk Services a top outsourcing choice for our customers to deliver IT solutions.                         </p>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->
<!-- 
<section class="event testimonial set-relative bg about-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0">
                            <span>testimonial 2</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 margin-b">
                <owl-carousel-o [options]="aboutTestimonialCarouselOptions" class="testimonial">
                    <ng-container *ngFor="let user of aboutTestimonial">
                        <ng-template carouselSlide >
                            <div class="p-t-30">
                            <div class="col-lg-10 offset-lg-1 col-12">
                                <div class="row">
                                    <div class="col-xl-3 col-sm-4">
                                        <div class="testimonial-msg set-relative">
                                            <img [src]="user.img" alt=""
                                                class="img-fluid avtar-img">
                                            <div class="msg-box">
                                                <div class="center-content">
                                                    <img src="assets/images/event/testimonial/message.png" alt=""
                                                        class="img-fluid set-abs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-sm-8">
                                        <div class="quotes set-relative m-b-30">
                                            <img src="assets/images/event/testimonial/i1.png" alt=""
                                                class="img-fluid set-abs left-quote">
                                            <div class="quote-text">
                                                <h5>"When you innovate, you make mistakes.It is best to admit them
                                                    quickly,
                                                    & get on with improving your other innovations."</h5>
                                            </div>
                                            <img src="assets/images/event/testimonial/i2.png" alt=""
                                                class="img-fluid set-abs right-quote">
                                        </div>
                                        <div class="rating align-items-center">
                                            <div class="stars">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                                        <i class="fa fa-star yellow" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h5 class="name">Jhon Denal - <span> UI Designer</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
-->
<section class="event speaker set-relative" id="speaker">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0">
                            <span  >Our team</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/event/avatar3.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <!--<ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Francisco Sevilla</h5>
                        <h6 class="post text-center ">CTO and goalKeeper</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/event/avatar4.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <!--<ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Phil User</h5>
                        <h6 class="post text-center ">COO and second more interesting man</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/event/avatar3.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                           <!-- <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Ramiro Garcia</h5>
                        <h6 class="post text-center ">RH Manager and Benefits super hero</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/event/avatar4.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                           <!-- <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Juan Carlos Rea</h5>
                        <h6 class="post text-center ">CEO and wannabe musician</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="resume counter bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img src="assets/images/resume/icon/1.png" alt="" class="img-fluid counter-img">
                    <div class="counter-text">
                        <h3 class="count-text counts">1510</h3>
                        <h5 class="count-desc">Satisfied Customers</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img src="assets/images/resume/icon/2.png" alt="" class="img-fluid counter-img">
                    <div class="counter-text">
                        <h3 class="count-text counts">306</h3>
                        <h5 class="count-desc">Total Speaker</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img src="assets/images/resume/icon/3.png" alt="" class="img-fluid counter-img">
                    <div class="counter-text">
                        <h3 class="count-text counts">48502</h3>
                        <h5 class="count-desc">Hours Worked</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img src="assets/images/resume/icon/4.png" alt="" class="img-fluid counter-img">
                    <div class="counter-text">
                        <h3 class="count-text counts">12</h3>
                        <h5 class="count-desc">Awwards Winning</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->


<!--accordion1 section start-->
<section class="saas1 faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">FAQ for nearshore</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="faq-block">
                    <div class="w-100">
                        <ngb-accordion [closeOthers]="true" class="accordion faq" activeIds="static-1">
                            <ngb-panel id="static-1" class="card">
                              <ng-template ngbPanelTitle class="card-header">
                                  <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                  aria-expanded="false">
                                 <a>
                                     <div class="fa fa-angle-right rotate"></div>
                                 </a>
                                 What is nearshore software development?
                             </div>
                              </ng-template>
                              <ng-template ngbPanelContent class="card-body">
                                Nearshore software development refers to outsourcing software development tasks to a company in a nearby country or region. It offers advantages such as proximity, similar time zones, cultural affinity, and easier collaboration compared to offshore outsourcing. Nearshore companies provide skilled software development teams that work closely with clients to deliver high-quality solutions.

                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                    aria-expanded="false">
                                   <a>
                                       <div class="fa fa-angle-right rotate"></div>
                                   </a>
                                   What are the benefits of choosing a nearshore software company? 
                               </div>
                                </ng-template>
                
                                <ng-template ngbPanelContent class="card-body">
                                    Choosing Growk Services provides several benefits. These include Proximity and time zone alignment, facilitating better communication and collaboration. Cultural similarity, which helps in understanding business requirements and expectations. Reduced travel costs and easier site visits for project discussions and reviews. Access to highly skilled and experienced software professionals at competitive rates. Lower language and communication barriers due to shared or similar languages

                                </ng-template>
                              </ngb-panel>
                              <ngb-panel id="static-3" class="card">
                                  <ng-template ngbPanelTitle class="card-header">
                                      <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                      aria-expanded="false">
                                     <a>
                                         <div class="fa fa-angle-right rotate"></div>
                                     </a>
                                     How do Growk Services ensure data security and intellectual property protection?
                                 </div>
                                  </ng-template>
                  
                                  <ng-template ngbPanelContent class="card-body">
                                    In Growk Services, We prioritize data security and intellectual property protection. 
                                    We implement robust security measures, including secure network infrastructure, restricted access controls, 
                                    and compliance with industry regulations like GDPR. Non-disclosure agreements (NDAs) and contractual agreements 
                                    are established to protect our client's intellectual property and ensure confidentiality throughout the software 
                                    development process.
                                  </ng-template>
                                </ngb-panel>
                                <ngb-panel id="static-4" class="card">
                                    <ng-template ngbPanelTitle class="card-header">
                                        <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                       <a>
                                           <div class="fa fa-angle-right rotate"></div>
                                       </a>
                                       How does the Growk services team manage communication and collaboration effectively?
                                   </div>
                                    </ng-template>
                    
                                    <ng-template ngbPanelContent class="card-body">
                                        The Growk Services team employs various communication and collaboration strategies for effective project management. Requirement gathering: Clear understanding of project goals, specifications, and client expectations. Project planning: Creation of project roadmap, resource allocation, and estimation of timelines. Development: Agile or iterative development using established methodologies, regular progress updates, and quality assurance. Testing and quality assurance: Rigorous software testing to identify and resolve any defects or bugs. Deployment and support: Successful software implementation, post-deployment support, and maintenance.
                                    </ng-template>
                                  </ngb-panel>
                                <ngb-panel id="static-5" class="card">
                                    <ng-template ngbPanelTitle class="card-header">
                                        <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                       <a>
                                           <div class="fa fa-angle-right rotate"></div>
                                       </a>
                                       How do you ensure the quality of the software development process and deliverables? 
                                   </div>
                                    </ng-template>
                    
                                    <ng-template ngbPanelContent class="card-body">
                                        Quality assurance is crucial in software development. We use the latest technologies, methodologies, tools, and practices for testing, bug tracking, and overall software quality assurance.
                                    </ng-template>
                                  </ngb-panel>
                          </ngb-accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faq-img-block">
                    <img src="assets/images/saas2/faq.jpg" class="img-fluid" alt="faq-person">
                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion1 section end-->

