<!--feature css start-->
<section class="saas2 feature booking" id="feaure">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="title">
                  <div class="main-title">
                      <h2>Whi work with Growk Services</h2>
                      <h2>we are here to help you grow</h2>
                  </div>
                  <div class="sub-title">
                      <p class="sub-title-para">A fully nearshore, agile and business strategy, helps you grow extending your teams while reducing the risks and using the cutting-edge technology.
                    </p>
                  </div>
              </div>
          </div>
          <div class="col-xl-8 col-md-7">
              <div class="center-text justify-content-center">
                  <div class="image-container">
                      <img src="assets/images/saas2/advance-feature/whatwedo.png" alt=""
                           class="img-fluid advance-feature-img">
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-md-5">
              <div *ngFor="let data of features">
                  <div class="center-content justify-content-start">
                      <img [src]="data.img" alt="" class="img-fluid">
                      <div class="feature-content">
                          <h5 class="feature-head">{{data.title}}</h5>
                          <p class="feature-para">{{data.description}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--feature css end-->
